:root {
  --bg-primary-dark: #000000cb;
}

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

i {
  font-size: 1.2rem;
}

#searchbar::placeholder {
  font-weight: 600;
}

#searchbar:focus {
  outline: none;
}

.textinput:focus {
  outline: 1px solid blue;
}

#textinput {
  width: 70dvw;
  max-width: 90dvw;
  min-width: 60dvw;
}

.dark {
  background: var(--bg-primary-dark);
  color: white;
}

.dark i,
.dark h1 {
  color: white;
}

.dark #searchbar,
.dark #textinput {
  background-color: var(--bg-primary-dark) !important;
  color: white;
}

.error input {
  outline: 1px solid red;
  outline-offset: 4px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}
