* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

i {
  font-size: 1.2rem;
}

#searchbar::placeholder {
  font-weight: 600;
}

#searchbar:focus {
  outline: none;
}

.textinput:focus {
  outline: 1px solid blue;
}

.textinput {
  width: 70dvw;
}
